global:
  scrape_interval: 30s
  evaluation_interval: 30s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files: []

scrape_configs:
  - job_name: "remnawave"
    metrics_path: /metrics
    static_configs:
      - targets: [ "x.x.x.x:3001" ]
    basic_auth:
      username: "xxx"
      password: "xxx"

  - job_name: "xray-checker"
    metrics_path: "/metrics"
    static_configs:
      - targets: [ "xray-checker:2112" ]
    scrape_interval: 1m

  - job_name: "node_servers"
    file_sd_configs:
      - files:
          - /etc/generated/node.yml
        refresh_interval: 10m

  - job_name: "blackbox_https_probes"
    metrics_path: /probe
    params:
      module: [ http_2xx ]
    file_sd_configs:
      - files:
          - /etc/generated/blackbox.yml
        refresh_interval: 10m
    relabel_configs:
      - source_labels: [ __address__ ]
        target_label: __param_target
      - source_labels: [ __param_target ]
        target_label: instance
      - target_label: __address__
        replacement: blackbox_exporter:9115
